.top-buffer-twenty{
    margin-top: 20px;
}
.top-buffer-ten{
    margin-top: 10px;
}
.latest-alerts{
    list-style: none;
}
.latest-alerts li{
    margin-top: 10px;
}
#layout-footer{
    /* background-color: aquamarine; */
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}